{% extends "posts/base.html" %}
{% block extra-scripts %}
    {% load static %}

    <script src="{% static "el-pagination/js/el-pagination.js" %}"></script>
    <script>
        $.endlessPaginate({paginateOnScroll: true});
    </script>
    <script>
        csrf_token = "{{ csrf_token }}"
        post_url = "{% url "posts:like" %}"
    </script>
    <script type="text/javascript" src="{% static "posts/js/like.js" %}"></script>
{% endblock %}

{% block content %}
    {% comment %} Yes, I am aware that the CSS here is horrible. This is only temporary {% endcomment %}
    {% comment %} I'm trying not to focus too much on the CSS/Design at the moment {% endcomment %}
    <div name="main-column" style="width:1000px;">
        <div name="column-left" style="float:left; width:300px;">
            <div style="width:300px; min-height:50px; border:3px solid black; padding:10px; text-align:left;">
                <h2>Boards</h2>
                <ul>
                    <a href="{% url "posts:main_feed" %}"><li>#main</li></a>
                    {% for b in board_list %}
                    <a href="{% url "posts:feed" b %}"><li>#{{ b }}</li></a>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div name="column-right" style="float:right; width:700px;">
            <div style="width:600px; min-height:50px; border:3px solid black; padding:10px;">
                <form action="{% url "posts:post" board %}" method="POST">
                    {% csrf_token %}
                    {% if board %}
                    <textarea name="content" id="content" cols="80" maxlength="280" required></textarea>
                    <input type="submit" value="Post!">
                    {% else %}
                    <textarea name="content" id="content" cols="80" maxlength="280" placeholder="You have to be on a board in order to post!" readonly required></textarea>
                    <input type="button" value="Post!">
                    {% endif %}
                </form>
            </div>

            <div id="feedPosts" style="margin:20px;">
                {% include "posts/feed_posts.html" %}
            </div>
        </div>
    </div>
{% endblock %}