{% load el_pagination_tags %}

{% paginate entry_list %}
{% for post in entry_list %}
    <div class="card my-3">
        <div class="card-body">
            <p>{{ post.content }}</p>
        </div>
        <div class="card-footer">
            {% load post_extras %}
            {% post_liked post user.id as liked %}
            <button name="like-{{ post.id }}" class="js-actionLike btn btn-primary-outline btn-sm">
                <i class="{{ liked|yesno:"fas,far" }} fa-heart {{ liked|yesno:"text-danger,text-muted" }} mr-1"></i>
                <span class="js-likeCount text-secondary">{{ post.likes.count }}</span>
            </button>
        </div>
    </div>
{% endfor %}
{% show_more %}