{% load el_pagination_tags %}

{% paginate entry_list %}
{% for post in entry_list %}
    <div style="width:600px; min-height:50px; border:3px solid black; padding:10px; border-bottom:0px;">
        <p align="left">{{ post.content }}</p>
    </div>
    <div style="width:600px; border:3px solid black; padding:10px; margin-bottom:10px;">
        <div style="float:left;">
            {% load post_extras %}
            {% post_liked post user.id as liked %}
            <input type="button" class="js-actionLike" name="like-{{ post.id }}" value="{{ liked|yesno:"Unlike,Like" }}">
            <span class="js-likeCount">{{ post.likes.count }}</span>
        </div>
        <div style="clear:both;"></div>
    </div>
{% endfor %}
{% show_more %}