{% extends "posts/base.html" %}
{% block extra-scripts %}
    {% load static %}

    <script src="{% static "el-pagination/js/el-pagination.js" %}"></script>
    <script>
        $.endlessPaginate({paginateOnScroll: true});
    </script>
    <script>
        csrf_token = "{{ csrf_token }}"
        post_url = "{% url "posts:like" %}"
    </script>
    <script type="text/javascript" src="{% static "posts/js/like.js" %}"></script>
{% endblock %}

{% block content %}
    <div style="width:600px; min-height:50px; border:3px solid black; padding:10px;">
        <form action="{% url "posts:post" board %}" method="POST">
            {% csrf_token %}
            {% if board %}
            <textarea name="content" id="content" cols="80" maxlength="280" required></textarea>
            <input type="submit" value="Post!">
            {% else %}
            <textarea name="content" id="content" cols="80" maxlength="280" placeholder="You have to be on a board in order to post!" readonly required></textarea>
            <input type="button" value="Post!">
            {% endif %}
        </form>
    </div>

    <div id="feedPosts" style="margin:20px;">
        {% include "posts/feed_posts.html" %}
    </div>
{% endblock %}